<form action="/peserta/peserta/upload-tugas" method="POST" enctype="multipart/form-data">
  <input type="file" name="file" accept=".pdf,.doc,.docx" required />
  <button type="submit">Upload</button>
</form>
