<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
        <img src="/sb-admin2/dist/img/LOGO BPL CIPUTAT 2.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light"><H4>SITRA HMI</H4></span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="/dashboard" class="nav-link">
                        <i class="nav-icon fa fa-home"></i>
                        <p>
                            Beranda
                        </p>
                    </a>
                </li>
                <li class="nav-header">Master Data</li>
                <li class="nav-item">
                    <a href="/category" class="nav-link">
                        <i class="nav-icon fas fa-calendar-alt"></i>
                        <p>
                            Kategori
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/mot" class="nav-link">
                        <i class="nav-icon fas fa-solid fa-users"></i>
                        <p>
                            Pemandu
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/peserta" class="nav-link">
                        <i class="nav-icon fas fa-solid fa-user"></i>
                        <p>
                            Peserta
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/materi" class="nav-link">
                        <i class="nav-icon fas fa-solid fa-book"></i>
                        <p>
                            Materi
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Absensi" class="nav-link">
                        <i class="nav-icon fas fa-solid fa-qrcode"></i>
                        <p>
                            Absensi
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/recap_absensi" class="nav-link">
                        <i class="nav-icon fas fa-solid fa-list"></i>
                        <p>
                            Data Absensi
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/recap_absensi" class="nav-link">
                        <i class="nav-icon fas fa-solid fa-list"></i>
                        <p>
                            Rekapitulasi Nilai
                        </p>
                    </a>
                </li>
                <li class="nav-header">Master Forum</li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-tree"></i>
                      <p>
                        Nilai Forum
                        <i class="fas fa-angle-left right"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                      <li class="nav-item">
                        <a href="pages/UI/general.html" class="nav-link">
                          <i class="far fa- nav-icon"></i>
                          <p>Kognitif</p>
                        </a>
                        <ul></ul>
                      </li>
                      <li class="nav-item">
                        <a href="pages/UI/icons.html" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p>Psikomotorik</p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="pages/UI/buttons.html" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p>Afektif</p>
                        </a>
                      </li>
                      
                    </ul>
                  </li>
                <li class="nav-header">Transaksi</li>
                <li class="nav-item">
                    <a href="/transaction" class="nav-link">
                        <i class="nav-icon fas fa-shopping-cart"></i>
                        <p>
                            Izin Peserta
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/data_pelanggarans" class="nav-link">
                        <i class="nav-icon fas fa-shopping-cart"></i>
                        <p>
                            Data Pelanggaran
                        </p>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>