<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">



        <img src="images/LOGO BPL CIPUTAT 2.png" loading="lazy" alt="AdminLTE Logo"
            class="brand-image img-circle elevation-3" style="opacity: .8">

        <span class="brand-text font-weight-light">
            <H4>SITRA HMI</H4>
        </span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="/dashboard" class="nav-link">
                        <i class="nav-icon fa fa-home" loading="lazy"></i>
                        <p>
                            Beranda
                        </p>
                    </a>
                </li>
                <li class="nav-header">Master Data</li>
                <li class="nav-item">
                    <a href="/category" class="nav-link">
                        <i class="nav-icon fas fa-calendar-alt" loading="lazy"></i>
                        <p>
                            Kategori
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/mot" class="nav-link">
                        <i class="nav-icon fas fa-solid fa-users" loading="lazy"></i>
                        <p>
                            Pemandu
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/peserta" class="nav-link">
                        <i class="nav-icon fas fa-solid fa-user" loading="lazy"></i>
                        <p>
                            Peserta
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/materi" class="nav-link">
                        <i class="nav-icon fas fa-solid fa-book" loading="lazy"></i>
                        <p>
                            Materi
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Absensi" class="nav-link">
                        <i class="nav-icon fas fa-solid fa-qrcode" loading="lazy"></i>
                        <p>
                            Absensi
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/recap_absensi" class="nav-link">
                        <i class="nav-icon fas fa-solid fa-list" loading="lazy"></i>
                        <p>
                            Data Absensi
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/recap_absensi" class="nav-link">
                        <i class="nav-icon fas fa-solid fa-list" loading="lazy"></i>
                        <p>
                            Rekapitulasi Nilai
                        </p>
                    </a>
                </li>
                <li class="nav-header">Master Forum</li>
                <li class="nav-header">Kognitif</li>
                <li class="nav-item">
                    <a href="/nilai_kognitif" class="nav-link">
                        <i class="nav-icon fas fa-solid fa-book" loading="lazy"></i>
                        <p>
                            Nilai Kognitif
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/nilai_psikomotorik" class="nav-link">
                        <i class="nav-icon fas fa-solid fa-book" loading="lazy"></i>
                        <p>
                            Post Test
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/nilai_psikomotorik" class="nav-link">
                        <i class="nav-icon fas fa-solid fa-book" loading="lazy"></i>
                        <p>
                            Mid Test
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/nilai_psikomotorik" class="nav-link">
                        <i class="nav-icon fas fa-solid fa-book" loading="lazy"></i>
                        <p>
                            FGD
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/makalah_peserta" class="nav-link">
                        <i class="nav-icon fas fa-solid fa-book" loading="lazy"></i>
                        <p>
                            Makalah
                        </p>
                    </a>
                </li>

                <li class="nav-header">Psikomotorik</li>
                <li class="nav-item">
                    <a href="/nilai_psikomotorik" class="nav-link">
                        <i class="nav-icon fas fa-solid fa-book" loading="lazy"></i>
                        <p>
                            Nilai Psikomotorik
                        </p>
                    </a>
                </li>

                <li class="nav-header">Afektif</li>
                <li class="nav-item">
                    <a href="/nilai_kognitif" class="nav-link">
                        <i class="nav-icon fas fa-solid fa-book" loading="lazy"></i>
                        <p>
                            Nilai Afektif
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/nilai_psikomotorik" class="nav-link">
                        <i class="nav-icon fas fa-solid fa-book" loading="lazy"></i>
                        <p>
                            Presensi Kehadiran
                        </p>
                    </a>
                </li>




                <li class="nav-header">Etc</li>
                <li class="nav-item">
                    <a href="/transaction" class="nav-link">
                        <i class="nav-icon fas fa-shopping-cart" loading="lazy"></i>
                        <p>
                            Izin Peserta
                        </p>
                    </a>
                </li>


                <li class="nav-item">
                    <a href="/data_pelanggarans" class="nav-link">
                        <i class="nav-icon fas fa-shopping-cart" loading="lazy"></i>
                        <p>
                            Data Pelanggaran
                        </p>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>